:root {
  --color-text-white-1: #fff;
  --color-text-1: #394D5E;
  --color-text-2: #9496AD;
  --color-text-3: #3264fe;
  --color-btn-1: #1C96FA;
  --color-btn-2: #3264fe;
  --color-border-1: #E3E3EA;
  --color-border-2: #3264fe;
  --color-border-3: #3FA6FA;
  --color-border-4: #D0D9EA;
  --color-border-white-1: #fff;

  --color-bg-1: #1C96FA;
  --color-bg-2: #3264fe;
  --color-bg-3: #CFD9E6;
  --color-bg-white-1: #F8F9FD;
  --color-bg-white-2: #fff;
}